.container-model{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:50px;
    background-color:lightblue;
    border-radius: 5px;
}
.save-btn{
    height: 30px;
    width: 60px;
    border: none;
    background-color:white;
    border-radius: 5px;
    color: blue
}
.save-btn:hover{
    background-color: yellow;   
}
.model-time{
    margin-left: 40px;
}
.model-name{
    margin-top: 30px;
    margin-left: 40px;
}
.scenario-name,.scenario-time{
    font-size: 16px;
    color: blue;
    height: 25px;
    width: 220px;
}