.container-add{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.add-scenario{
    color: white;
}
.headding{
    display: block;
    color: white;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}
.scenario-name{
    display: block;
    height: 25px;
    width: 220px;
    border:1px solid white;
    border-radius: 3px;
    color: blue;
}
.scenario-time{
    display: block;
    height: 25px;
    width: 220px;
    border:1px solid white;
    border-radius: 3px;
}
.scenario-time{
    display: block;
}
.input-fields{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 80%;
    height: 150px;
    background-color: gray;
    border-radius: 5px;
}
.buttons{
    margin-top: 30px;
}
.submit-btn{
    height: 30px;
    width: 60px;
    background-color:#6AF853;
    border: none;
    border-radius: 3px;
}
.reset-btn{
    margin-left: 20px;
    height: 30px;
    width: 70px;
    border: none;
    background-color: #FF8C00;
    border-radius: 3px;
}
.goback-btn{
    margin-left: 20px;
    height: 30px;
    width: 80px;
    background-color: #6495ED;
    border: none;
    border-radius: 3px;
}
@media  screen and (max-width:900px) {
    .input-fields{
        display: flex;
        flex-direction: column;
    }
}
@media  screen and (max-width:600px) {
    .reset-btn,.goback-btn{
        display: block;
        margin-left: 0px;
        margin-top: 10px;
    }
    .scenario-name,.scenario-time{
        width: 150px;
    }
}
