*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  list-style-type: none;
  width:250px;
  padding-top: 50px;
  display:flex;
  height: 100vh;
  flex-direction: column;
  gap:10px;
  background-color: #B0C4DE;
  text-decoration: none;
}
.box{
  display: flex;
}
main{
  width: 100%;
  padding: 20px;
  background-color: black;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.navlink{
  color: black;
  padding-left: 30px;
  font-size: 20px;
  font-weight: normal;
}
.active{
  color: blue;
  background-color: aliceblue;
}
.active li{
  color: blue;
}
.icon, .link_text{
  font-size: 20px;
}